<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://youtu.be/Wb0Jmy-JYbA</string>
	<string>https://www.youtube.com/watch?v=BeTurYZuY4A</string>
	<string>https://youtu.be/hFvvI5s-KHg</string>
	<string>https://youtu.be/nocBIrEk5A0</string>
</array>
</plist>
